@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");

.mini-title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 200;
  letter-spacing: 8px;
  line-height: 43px;
  text-transform: uppercase;
}
