@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.main-content {
  background-image: url("https://images03.nicepage.com/c461c07a441a5d220e8feb1a/cc54848d24ec5cb1be8c9d83/874-min.jpg");
  background-position: right top;
  background-size: cover;
  padding: 100px 0 100px 100px;
  height: 1000px;
}

.mini-title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 200;
  letter-spacing: 8px;
  line-height: 43px;
  text-transform: uppercase;
}

.wrapper {
  width: 50%;
}

.color-title {
  color: rgb(23, 155, 214);
  font-family: "Roboto", sans-serif;
  font-size: 72px;
  font-weight: 900;
  text-transform: uppercase;
}
